
  body{
    background-image: url('musica\ internacional.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
  }
h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 50px;
    background-color: rgb(240, 238, 238,0.7);;
    margin: 5px 5px 5px 5px; 
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    border-radius: 12px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
    
}


dd{
    font-family:'Roboto Condensed', sans-serif;
border-radius: 12px;

}
dl{
    
        border: none;
        color: rgb(22, 17, 17);
        padding: 10px;
        text-align: left;
        display: inline-block;
        font-size: 25px;
        margin: 5px 5px;
        cursor: pointer;
        transition-duration: 2s;
        background-color: rgb(240, 238, 238,0.7);
        border-radius: 12px;
        border-radius: 12px;
     
      
}
dt{
    
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    margin: 10px 50px;
 
    
     
}
img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: center;
    left: center;
  }
p{
    
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    position: relative;
    width: left;
    padding: 10px;
 
    
     
}

.header{
    
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-weight: bold;
    width: 100%;
    background-color: rgb(240, 238, 238,0.7);
    border-radius: 12px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
     
}
.button {
 
    background-color: rgb(240, 238, 238,0.7);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
     
    border: none;
    color: rgb(5, 4, 4);
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.6s;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    
  }



.button {border-radius: 12px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
    background-color: #565c56; 
    color: rgb(146, 32, 32);
}

